# Curso Numpy

In [1]:
import numpy as np # Foi convensionado usar a biblioteca como np

## Numpy X Listas

### Tamanho fixo

In [85]:
list_a = [1, 2, 3, 4]

In [86]:
type(list_a)

list

In [87]:
print(id(list_a))

124228596279040

In [88]:
list_a.append(5)
print(list_a)
print(id(list_a))

[1, 2, 3, 4, 5]
124228596279040

In [89]:
array_a = np.array([1, 2, 3, 4])

In [90]:
type(array_a)

numpy.ndarray

In [91]:
print(id(array_a))

124228128362192

In [92]:
array_a = np.append(array_a, [5])
print(array_a)
print(id(array_a))

[1 2 3 4 5]
124228128468656

Quando adicionamos um novo elemento na lista convêncional do Python ele permanece o mesmo id, porém quando usamos a biblioteca NumPy podemos perecber como o id muda. Alem do id podemos observar que quando usamos Numpy estamos trabalhando com um objeto ndarray e não uma list.

### Homogêneo

In [93]:
list_a = [1, 2.4, 'a', True, 5]
print(list_a)

[1, 2.4, 'a', True, 5]

In [94]:
type(list_a)

list

In [95]:
for i in list_a:
    # print(i)
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [96]:
array_a = np.array(list_a)
type(array_a)

numpy.ndarray

In [97]:
print(array_a)

['1' '2.4' 'a' 'True' '5']

In [98]:
for i in array_a:
    print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

Quando utilizamos a lista do python se preserva os tipos de cada dado, já quando utilizamos o Numpy os tipos de cada elemento é homogeneo.

| Exemplos de dtype | -                 |
|-------------------|-------------------|
| np.int32          | Inteiro de 32 Bits|
| np.complex64      | Numero complexo com 64 Bits|
| object            | Objeto            |

### Vetorização

In [99]:
list_a = [1, 2, 3, 4]
list_b = [5, 6, 7, 8]

list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [100]:
list_c = []
for i in range(4):
    list_c.append(list_a[i] + list_b[i])

print(list_c)

[6, 8, 10, 12]

In [101]:
array_a = np.array(list_a)
array_b = np.array(list_b)

array_c = array_a + array_b
print(array_c)

[ 6  8 10 12]

In [102]:
array_a - array_b

array([-4, -4, -4, -4])

In [103]:
array_a * array_b

array([ 5, 12, 21, 32])

In [104]:
array_a / array_b

array([0.2       , 0.33333333, 0.42857143, 0.5       ])

In [105]:
array_a % array_b

array([1, 2, 3, 4])

In [106]:
array_a  ** array_b

array([    1,    64,  2187, 65536])

### Broadcasting

In [107]:
list_a = [1, 2, 3, 4]
# lsist_a + 5 # erro

In [108]:
list_b = list()
for i in list_a:
    list_b.append(i + 5)

print(list_b)

[6, 7, 8, 9]

In [109]:
array_a = np.array(list_a)
array_a + 5

array([6, 7, 8, 9])

In [110]:
array_b = np.array([[5],[10]])
array_b.shape

(2, 1)

In [111]:
array_a + array_b

array([[ 6,  7,  8,  9],
       [11, 12, 13, 14]])

In [112]:
array_b = np.array([[5, 6], [10, 11]])

In [113]:
# array_a + array_b # erro pois não tem tipos compativeis

ValueError: operands could not be broadcast together with shapes (4,) (2,2)

### EXERCICIOS NÃO RESOLVIDOS

#### Tamanho fixo

Abaixo vamos instanciar um array com 4 elementos.

In [ ]:
array_a = np.array([0, 1, 2, 3])

Utilizando a função `np.append`, adicione o elemento `4` no final deste array. Lembre-se que este elemento deve estar "envelopado" em uma lista: `[4]`. Coloque o resultado em novo array chamado `array_b` e exiba o resultado.

In [ ]:
array_b = ...

In [ ]:
array_b

array([0, 1, 2, 3, 4])

Agora, utilizando a função `id` do Python e o comparador `==`, mostre que os dois arrays têm endereços diferentes na memória, o que mostra que `array_b` é diferente de `array_a`.

💡 Isto ocorre porque, no NumPy, os arrays têm **tamanho fixo**. Se você adicionar elementos no array, um novo array é criado.

In [ ]:
...

False

#### Homogêneo

Instancie um array `array_c` com 3 elementos:
- o número `3` (inteiro)
- o número `7.9` (float)
- o valor `False` (booleano)

Exiba este array.

In [ ]:
array_c = ...

In [ ]:
array_c

array([3. , 7.9, 0. ])

Utilizando um loop `for` para iterar sobre os elementos de `array_c`,  exiba na tela (`print`) o próprio elemento, e o tipo de cada elemento do array, utilizando a função `type`.

In [ ]:
for ...
    print(..., ...)

3.0 <class 'numpy.float64'>
7.9 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>

💡 Observe que, para manter a homogeneidade do array, todos os elementos foram convertidos para o tipo `np.float`.

Agora, utilizando o método `dtype` do array, exiba o tipo de dado que ele armazena.

In [ ]:
...

dtype('float64')

💡 Perceba que o array têm o mesmo tipo de dado que seus elementos.

#### Vetorização

Instancie um array `array_d` com os valores `10`, `11`, `12` e `13`, e um array `array_e` com os valores `1`, `2`, `3` e `4`.

Exiba estes dois arrays.

In [ ]:
array_d = ...
array_e = ...

array_d, array_e

(array([10, 11, 12, 13]), array([1, 2, 3, 4]))

Agora, realize as 4 operações matemáticas básicas (soma, subtração, multiplicação e divisão) utilizando os operadores nativos do Python (`+`, `-`, `*`, `/`). Exiba os resultados diretamente, sem armazená-los em uma variável antes.

In [ ]:
... + ...

array([11, 13, 15, 17])

In [ ]:
...

array([9, 9, 9, 9])

In [ ]:
...

array([10, 22, 36, 52])

In [ ]:
...

array([10.  ,  5.5 ,  4.  ,  3.25])

💡 O uso dos operadores básicos só é possível graças à propriedade vetorial dos arrays do NumPy, que permite operações matemáticas elemento-a-elemento entre arrays.

#### Broadcasting

Vamos reutilizar o `array_d` para demonstrar a propriedade de broadcasting.

Utilize os 4 operadores matemáticos básicos para somar, subtrair, multiplicar e dividir o valor `2` de cada elemento do array.

Printe os resultados diretamente na tela.

In [ ]:
... + 2

array([12, 13, 14, 15])

In [ ]:
...

array([ 8,  9, 10, 11])

In [ ]:
...

array([20, 22, 24, 26])

In [ ]:
...

array([5. , 5.5, 6. , 6.5])

💡 Observe que, se você quiser realizar essas operações em todos os elementos do array com um **valor fixo**, é possível utilizar este valor como um escalar, sem a necessidade de transformá-lo em um array. Isto é possível graças à propriedade de broadcasting.

### EXERCICIOS RESOLVIDOS

#### Tamanho fixo

Abaixo vamos instanciar um array com 4 elementos.

In [ ]:
array_a = np.array([0, 1, 2, 3])

Utilizando a função `np.append`, adicione o elemento `4` no final deste array. Lembre-se que este elemento deve estar "envelopado" em uma lista: `[4]`. Coloque o resultado em novo array chamado `array_b` e exiba o resultado.

In [ ]:
array_b = np.append(array_a, [4])

In [ ]:
array_b

array([0, 1, 2, 3, 4])

Agora, utilizando a função `id` do Python e o comparador `==`, mostre que os dois arrays têm endereços diferentes na memória, o que mostra que `array_b` é diferente de `array_a`.

💡 Isto ocorre porque, no NumPy, os arrays têm **tamanho fixo**. Se você adicionar elementos no array, um novo array é criado.

In [ ]:
id(array_a)==id(array_b)

False

#### Homogêneo

Instancie um array `array_c` com 3 elementos:
- o número `3` (inteiro)
- o número `7.9` (float)
- o valor `False` (booleano)

Exiba este array.

In [ ]:
array_c = np.array([3, 7.9, False])

In [ ]:
array_c

array([3. , 7.9, 0. ])

Utilizando um loop `for` para iterar sobre os elementos de `array_c`,  exiba na tela (`print`) o próprio elemento, e o tipo de cada elemento do array, utilizando a função `type`.

In [ ]:
for i in array_c:
    print(i, type(i))

3.0 <class 'numpy.float64'>
7.9 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>

💡 Observe que, para manter a homogeneidade do array, todos os elementos foram convertidos para o tipo `np.float`.

Agora, utilizando o método `dtype` do array, exiba o tipo de dado que ele armazena.

In [ ]:
array_c.dtype

dtype('float64')

💡 Perceba que o array têm o mesmo tipo de dado que seus elementos.

#### Vetorização

Instancie um array `array_d` com os valores `10`, `11`, `12` e `13`, e um array `array_e` com os valores `1`, `2`, `3` e `4`.

Exiba estes dois arrays.

In [ ]:
array_d = np.array([10, 11, 12, 13])
array_e = np.array([1, 2, 3, 4])

array_d, array_e

(array([10, 11, 12, 13]), array([1, 2, 3, 4]))

Agora, realize as 4 operações matemáticas básicas (soma, subtração, multiplicação e divisão) utilizando os operadores nativos do Python (`+`, `-`, `*`, `/`). Exiba os resultados diretamente, sem armazená-los em uma variável antes.

In [ ]:
array_d + array_e

array([11, 13, 15, 17])

In [ ]:
array_d - array_e

array([9, 9, 9, 9])

In [ ]:
array_d * array_e

array([10, 22, 36, 52])

In [ ]:
array_d / array_e

array([10.  ,  5.5 ,  4.  ,  3.25])

💡 O uso dos operadores básicos só é possível graças à propriedade vetorial dos arrays do NumPy, que permite operações matemáticas elemento-a-elemento entre arrays.

#### Broadcasting

Vamos reutilizar o `array_d` para demonstrar a propriedade de broadcasting.

Utilize os 4 operadores matemáticos básicos para somar, subtrair, multiplicar e dividir o valor `2` de cada elemento do array.

Printe os resultados diretamente na tela.

In [ ]:
array_d + 2

array([12, 13, 14, 15])

In [ ]:
array_d - 2

array([ 8,  9, 10, 11])

In [ ]:
array_d * 2

array([20, 22, 24, 26])

In [ ]:
array_d / 2

array([5. , 5.5, 6. , 6.5])

💡 Observe que, se você quiser realizar essas operações em todos os elementos do array com um **valor fixo**, é possível utilizar este valor como um escalar, sem a necessidade de transformá-lo em um array. Isto é possível graças à propriedade de broadcasting.

## ndarray e atributos

### Array a partir de dados

In [5]:
array_from_list = np.array([1, 2, 3])
array_from_list

array([1, 2, 3])

In [7]:
list_a = [1, 2, 3]
type(list_a)

list

In [9]:
array_from_list = np.array(list_a)
array_from_list

array([1, 2, 3])

In [12]:
type(array_from_list)

numpy.ndarray

In [14]:
tuple_a = (1, 2, 3)
tuple_a, type(tuple_a)

((1, 2, 3), tuple)

In [16]:
array_from_tuple = np.array(tuple_a)
print(array_from_tuple)
print(type(array_from_tuple))

[1 2 3]
<class 'numpy.ndarray'>

In [17]:
array_from_list + 5

array([6, 7, 8])

In [18]:
array_from_tuple + 5

array([6, 7, 8])

In [20]:
set_a = {1, 2, 3, 4}
print(set_a)
print(type(set_a))

{1, 2, 3, 4}
<class 'set'>

In [24]:
array_from_set = np.array(set_a)
array_from_set

array({1, 2, 3, 4}, dtype=object)

In [26]:
# array_from_set + 5 # erro

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [29]:
dict_a = {1 : 'a', 2 : 'b'}
print(dict_a)
print(type(dict_a))

{1: 'a', 2: 'b'}
<class 'dict'>

In [32]:
array_from_dict = np.array(dict_a)
array_from_dict

array({1: 'a', 2: 'b'}, dtype=object)

In [33]:
# array_from_dict + 5

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

### Array de 1 dimensão

In [44]:
array_1d = np.array([1, 2, 3])
array_1d, array_1d[0]

(array([1, 2, 3]), 1)

### Array de 2 dimensões

In [35]:
array_2d = np.array([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9],
                     [10, 11, 12]])
array_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [38]:
# np.array([[1, 2, 3], [4, 5], [7, 8, 9], [10]]) #erro

In [41]:
array_2d[0]

array([1, 2, 3])

In [42]:
array_2d[1][1]

5

### Array de n dimensões

In [45]:
array_3d = np.array([[[1, 2, 3], 
                      [4, 5, 6], 
                      [7, 8, 9], 
                      [10, 11, 12]],
                      
                      [[13, 14, 15], 
                       [16, 17, 18], 
                       [19, 20, 21], 
                       [22, 23, 24]]])

array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [46]:
array_3d[0]

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [48]:
array_3d[0][0]

array([1, 2, 3])

In [49]:
array_3d[0][2][1]

8

### Atributos do array

#### `size`

In [50]:
array_from_list

array([1, 2, 3])

In [51]:
array_from_list.size

3

In [52]:
array_2d.size

12

In [53]:
array_3d.size

24

#### `ndim`

In [54]:
array_from_list.ndim

1

In [55]:
array_2d.ndim

2

In [56]:
array_3d.ndim

3

#### `shape`

In [57]:
array_from_list.shape

(3,)

In [58]:
array_2d.shape

(4, 3)

In [60]:
array_3d.shape

(2, 4, 3)

#### `itemsize`

In [62]:
array_from_list.itemsize

8

In [63]:
array_2d.itemsize

8

In [64]:
array_3d.itemsize

8

#### `nbytes`

In [66]:
array_from_list.nbytes

24

In [67]:
array_2d.nbytes

96

In [68]:
array_3d.nbytes

192

#### `dtype`

In [69]:
array_from_list.dtype

dtype('int64')

In [71]:
array_2d.dtype

dtype('int64')

In [72]:
array_3d.dtype

dtype('int64')

In [74]:
array_32bits = np.array([1, 2, 3], dtype = np.int32)
array_32bits

array([1, 2, 3], dtype=int32)

In [75]:
np.array([1, 2, 3], dtype=np.float32)

array([1., 2., 3.], dtype=float32)

In [76]:
np.array([1, 2, 3], dtype=np.str_)

array(['1', '2', '3'], dtype='<U1')

### Exercicios Resolvidos

#### Array de 1 dimensão

Instancie um `array_a` com os elementos `1`, `2`, `3`, `4` e `5`, em uma única dimensão.

Printe dois atributos deste array, `shape` e `ndim`, para confirmar que este é um array 1-D.

In [ ]:
array_a = np.array([1, 2, 3, 4, 5])

In [ ]:
array_a.shape, array_a.ndim

((5,), 1)

Printe também o atributo `size` para verificar quantos elementos este array contém.

In [ ]:
array_a.size

5

#### Array de 2 dimensões

Agora instancie um `array_b` com os elementos `1` a `10`, organizados em 2 linhas e 5 colunas. Lembre-se que, neste caso, você precisa representar os valores no formato **lista de listas**, onde cada lista interna representa uma linha do array.

Também printe `shape`, `ndim` e `size`.

In [ ]:
array_b = np.array([[1, 2, 3, 4, 5],
                    [6, 7, 8, 9, 10]])

In [ ]:
array_b.shape, array_b.ndim, array_b.size

((2, 5), 2, 10)

#### Array de 3 dimensões

Crie um `array_c` com os elementos `1` a `20`, com profundidade 2, 5 linhas e 2 colunas. Aqui, você vai precisar representar os valores no formato **lista de listas de listas**.

Printe `shape`, `ndim` e `size`.

In [ ]:
array_c = np.array([[[ 1,  2],
                     [ 3,  4],
                     [ 5,  6],
                     [ 7,  8],
                     [ 9, 10]],

                     [[11, 12],
                      [13, 14],
                      [15, 16],
                      [17, 18],
                      [19, 20]]])

In [ ]:
array_c.shape, array_c.ndim, array_c.size

((2, 5, 2), 3, 20)

#### `dtype`

Agora vamos verificar como você pode instanciar um array explicitando o tipo de dado que será armazenado.

Abaixo você recebe uma lista, `list_d`, com 5 valores informados como inteiros.

In [ ]:
list_d = [1, 2, 3, 4, 5]
for i in list_d:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

Partindo desta lista, instancie um array `array_d` convertendo seu `dtype` para `np.float16`.

Exiba o `dtype` deste array.

In [ ]:
array_d = np.array(list_d, dtype=np.float16)

In [ ]:
array_d.dtype

dtype('float16')

Agora instancie o mesmo `array_d` mas com `dtype` igual a `np.float32`. Exiba o `dtype`.

In [ ]:
array_d = np.array(list_d, dtype=np.float32)

In [ ]:
array_d.dtype

dtype('float32')

Novamente instancie `array_d`, mas agora com `dtype` igual a `np.str_`. Exiba o `dtype`.

In [ ]:
array_d = np.array(list_d, dtype=np.str_)

In [ ]:
array_d.dtype

dtype('<U1')

Por último instancie `array_d` com `dtype` igual a `np.bool`.

Desta vez, exiba o próprio array e seu `dtype`.

In [ ]:
array_d = np.array(list_d, dtype=np.bool_)

In [ ]:
array_d

array([ True,  True,  True,  True,  True])

In [ ]:
array_d.dtype

dtype('bool')

💡 Observe que todos os valores são expressos como `True`. Isto ocorre porque, para números, o Python interpreta `0` como `False`, e qualquer outro valor como `True`.

## Arrays preenchidos

### `np.zeros`

In [3]:
np.zeros(shape=3)

array([0., 0., 0.])

In [4]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [3]:
np.zeros((2,3)).dtype

dtype('float64')

### `np.ones`

In [4]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

### `np.full`

In [5]:
np.full((2,3), 4)

array([[4, 4, 4],
       [4, 4, 4]])

In [7]:
array = np.array([[1, 2, 3],
                  [4, 5, 6]])

array

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
array.shape

(2, 3)

In [9]:
np.zeros_like(array)

array([[0, 0, 0],
       [0, 0, 0]])

In [10]:
np.ones_like(array)

array([[1, 1, 1],
       [1, 1, 1]])

In [11]:
np.full_like(array, 4)

array([[4, 4, 4],
       [4, 4, 4]])

### `np.empty`

In [12]:
np.empty((2,3))

array([[4.73206422e-310, 0.00000000e+000, 2.91237123e+257],
       [4.71294503e+257, 1.09799306e+295, 6.47086935e-310]])

### `np.eye`

In [13]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [14]:
np.eye(5, 3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.]])

### `np.identity`

In [15]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

### `np.arange`

In [16]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [18]:
np.arange(3, 10, step=2)

array([3, 5, 7, 9])

In [19]:
np.arange(10, 3, step=-2)

array([10,  8,  6,  4])

In [20]:
np.arange(3, 5, step=0.25)

array([3.  , 3.25, 3.5 , 3.75, 4.  , 4.25, 4.5 , 4.75])

### `np.linspace`

In [22]:
np.linspace(1, 10, 4)

array([ 1.,  4.,  7., 10.])

In [24]:
np.linspace(1, 10, num=10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

### `np.logspace`

In [26]:
np.logspace(1, 4, num=4)

array([   10.,   100.,  1000., 10000.])

### `np.geomspace`

In [29]:
np.geomspace(10, 10_000, num=4)

array([   10.,   100.,  1000., 10000.])

In [31]:
np.geomspace(3, 48_000, num=6).astype(int)

array([    3,    20,   144,   999,  6924, 48000])

### Exercícios não resolvidos

Abaixo vamos definir um `shape` para utilizar nos próximos exercícios.

#### `np.zeros`

In [ ]:
shape = (4, 3)

Utilizando a função `np.zeros`, instancie um array com o shape informado, utilizando o objeto criado acima na chamada da função. Não é preciso armazenar o resultado em um novo objeto, pode exibi-lo diretamente na tela.

In [ ]:
np....(shape=shape)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

#### `np.ones`

Repita o procedimento com a função `np.ones`.

In [ ]:
...

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

#### `np.full`

Agora instancie 3 arrays com a função `np.full`, o primeiro com o valor `7`, o segundo com o valor `8.9` e o terceiro com o valor `False`. O formato deve ser o mesmo solicitado anteriormente.

In [ ]:
np....(shape=..., fill_value=...)

array([[7, 7, 7],
       [7, 7, 7],
       [7, 7, 7],
       [7, 7, 7]])

In [ ]:
...

array([[8.9, 8.9, 8.9],
       [8.9, 8.9, 8.9],
       [8.9, 8.9, 8.9],
       [8.9, 8.9, 8.9]])

In [ ]:
...

array([[False, False, False],
       [False, False, False],
       [False, False, False],
       [False, False, False]])

#### `np.identity` / `np.eye`

No domínio das matrizes, a matriz identidade tem como propriedade que, multiplicando uma matriz `A` qualquer pela matriz identidade `I`, o resultado é a própria matriz original `A`.
```
A * I = A
```
Ou seja, ela á análoga ao valor 1 na multiplicação simples.

Utilizando a função `np.identity`, instancie uma matriz identidade de tamanho 4x4.

In [ ]:
...

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

Você pode obter o mesmo resultado com a função `np.eye`, informando somente o primeiro parâmetro, `N`. Faça isso abaixo:

In [ ]:
...

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

#### `np.arange`

Utilizando a função `np.arange`, crie e exiba um array contendo todos os números pares entre 4 e 20. Lembre-se que o valor do parâmetro `stop` deve ser **maior** que o último valor desejado, já que ele **não é incluído** no intervalo.

In [ ]:
np....(start=..., stop=..., step=...)

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20])

Agora exiba um array com os valores ímpares entre 49 e 27, ou seja, em ordem decrescente.

In [ ]:
...

array([49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27])

Suponha que você precise de um array representando o intervalo de 0 a 1 metro, dividido em intervalos de 1 cm (expressos em metros, ou seja, 0.01, 0.02...). Crie e exiba este array utilizando `np.arange`. Novamente, lembre-se que `stop` deve ser 1 `step` maior que o último valor desejado.

In [ ]:
...

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99, 1.  ])

#### `np.linspace`

Dada uma folha de papel de 38 cm, suponha que você deva dividi-la em 5 partes iguais. Utilizando `np.linspace`, exiba um array que demostre as marcações que você deve fazer na folha, em centímetros, para obter o resultado desejado.

In [ ]:
...

array([ 0. ,  9.5, 19. , 28.5, 38. ])

#### `np.logspace`

Valores que têm crescimento exponencial costumam ser plotados em gráficos com escala logarítmica, onde cada unidade do eixo representa uma potência de 10.

![image.png]()

Utilizando `np.logspace`, demonstre que valor corresponde a cada unidade de um eixo representando 6 unidades logarítmicas, iniciando da origem (valor 0).

Para facilitar a interpretação, no final da chamada da função, converta o resultado para inteiro com o método `astype(int)`.

In [ ]:
...

array([     1,     10,    100,   1000,  10000, 100000])

#### `np.geomspace`

Células se reproduzem de forma exponencial: 1 se divide em 2, 2 se dividem em 4, depois 4 em 8, 8 em 16 e assim por diante. O gráfico abaixo representa essa curva de crescimento.

![image.png]()

Imagine um experimento de 5 horas que inicia com 35 células e termina com 48 mil células.

Utilizando `np.geomspace`, exiba um array que represente o número de células no início, e no final de cada hora do experimento. Também converta os valores para inteiros.

In [ ]:
...

array([   35,   212,  1296,  7887, 48000])

### Exercícios resolvidos

Abaixo vamos definir um `shape` para utilizar nos próximos exercícios.

#### `np.zeros`

In [ ]:
shape = (4, 3)

Utilizando a função `np.zeros`, instancie um array com o shape informado, utilizando o objeto criado acima na chamada da função. Não é preciso armazenar o resultado em um novo objeto, pode exibi-lo diretamente na tela.

In [ ]:
np.zeros(shape=shape)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

#### `np.ones`

Repita o procedimento com a função `np.ones`.

In [ ]:
np.ones(shape=shape)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

#### `np.full`

Agora instancie 3 arrays com a função `np.full`, o primeiro com o valor `7`, o segundo com o valor `8.9` e o terceiro com o valor `False`. O formato deve ser o mesmo solicitado anteriormente.

In [ ]:
np.full(shape=shape, fill_value=7)

array([[7, 7, 7],
       [7, 7, 7],
       [7, 7, 7],
       [7, 7, 7]])

In [ ]:
np.full(shape, fill_value=8.9)

array([[8.9, 8.9, 8.9],
       [8.9, 8.9, 8.9],
       [8.9, 8.9, 8.9],
       [8.9, 8.9, 8.9]])

In [ ]:
np.full(shape=shape, fill_value=False)

array([[False, False, False],
       [False, False, False],
       [False, False, False],
       [False, False, False]])

#### `np.identity` / `np.eye`

No domínio das matrizes, a matriz identidade tem como propriedade que, multiplicando uma matriz `A` qualquer pela matriz identidade `I`, o resultado é a própria matriz original `A`.
```
A * I = A
```
Ou seja, ela á análoga ao valor 1 na multiplicação simples.

Utilizando a função `np.identity`, instancie uma matriz identidade de tamanho 4x4.

In [ ]:
np.identity(n=4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

Você pode obter o mesmo resultado com a função `np.eye`, informando somente o primeiro parâmetro, `N`. Faça isso abaixo:

In [ ]:
np.eye(N=4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

#### `np.arange`

Utilizando a função `np.arange`, crie e exiba um array contendo todos os números pares entre 4 e 20. Lembre-se que o valor do parâmetro `stop` deve ser **maior** que o último valor desejado, já que ele **não é incluído** no intervalo.

In [ ]:
np.arange(start=4, stop=21, step=2)

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20])

Agora exiba um array com os valores ímpares entre 49 e 27, ou seja, em ordem decrescente.

In [ ]:
np.arange(start=49, stop=26, step=-2)

array([49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27])

Suponha que você precise de um array representando o intervalo de 0 a 1 metro, dividido em intervalos de 1 cm (expressos em metros, ou seja, 0.01, 0.02...). Crie e exiba este array utilizando `np.arange`. Novamente, lembre-se que `stop` deve ser 1 `step` maior que o último valor desejado.

In [ ]:
np.arange(start=0, stop=1.0001, step=1e-2)

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99, 1.  ])

#### `np.linspace`

Dada uma folha de papel de 38 cm, suponha que você deva dividi-la em 5 partes iguais. Utilizando `np.linspace`, exiba um array que demostre as marcações que você deve fazer na folha, em centímetros, para obter o resultado desejado.

In [ ]:
np.linspace(start=0, stop=38, num=5)

array([ 0. ,  9.5, 19. , 28.5, 38. ])

#### `np.logspace`

Valores que têm crescimento exponencial costumam ser plotados em gráficos com escala logarítmica, onde cada unidade do eixo representa uma potência de 10.

![image.png]()

Utilizando `np.logspace`, demonstre que valor corresponde a cada unidade de um eixo representando 6 unidades logarítmicas, iniciando da origem (valor 0).

Para facilitar a interpretação, no final da chamada da função, converta o resultado para inteiro com o método `astype(int)`.

In [ ]:
np.logspace(start=0, stop=5, num=6).astype(int)

array([     1,     10,    100,   1000,  10000, 100000])

#### `np.geomspace`

Células se reproduzem de forma exponencial: 1 se divide em 2, 2 se dividem em 4, depois 4 em 8, 8 em 16 e assim por diante. O gráfico abaixo representa essa curva de crescimento.

![image.png]()

Imagine um experimento de 5 horas que inicia com 35 células e termina com 48 mil células.

Utilizando `np.geomspace`, exiba um array que represente o número de células no início, e no final de cada hora do experimento. Também converta os valores para inteiros.

In [ ]:
np.geomspace(start=35, stop=48_000, num=5).astype(int)

array([   35,   212,  1296,  7887, 48000])

## Indexing, slicing e assigning

In [5]:
list_3d = [[[1, 2, 3],
            [4, 5, 6],
            [7, 8, 9],
            [10, 11, 12]],
            
           [[13, 14, 15],
            [16, 17, 18],
            [19, 20, 21],
            [22, 23, 24]]]

array_3d = np.array(list_3d)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [6]:
array_3d.shape

(2, 4, 3)

### Indexing

In [7]:
list_3d[1]

[[13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24]]

In [8]:
array_3d[1]

array([[13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24]])

In [9]:
array_3d[1][2]

array([19, 20, 21])

In [10]:
array_3d[1][2][0]

19

In [11]:
array_3d[1][2][1]

20

In [12]:
array_3d[[0, 1]]

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [13]:
array_3d[:, [0, 1]]

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [14]:
array_3d[-1, -2, -2]

20

In [15]:
mask = [True, False]
array_3d[mask]

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]]])

In [16]:
mask = [True, True]
array_3d[mask]

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [17]:
mask = [False, True]
array_3d[mask]

array([[[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [18]:
mask = array_3d % 2 == 0
mask

array([[[False,  True, False],
        [ True, False,  True],
        [False,  True, False],
        [ True, False,  True]],

       [[False,  True, False],
        [ True, False,  True],
        [False,  True, False],
        [ True, False,  True]]])

In [19]:
array_3d[mask]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

### Slicing

In [20]:
array_3d[:1]

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]]])

In [21]:
array_3d[:, 1:3]

array([[[ 4,  5,  6],
        [ 7,  8,  9]],

       [[16, 17, 18],
        [19, 20, 21]]])

In [22]:
array_3d[:, 1:3, :-1]

array([[[ 4,  5],
        [ 7,  8]],

       [[16, 17],
        [19, 20]]])

In [23]:
array_3d[0]

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [24]:
array_3d[0, 1:4:2]

array([[ 4,  5,  6],
       [10, 11, 12]])

In [25]:
array_3d[0, 1::2]

array([[ 4,  5,  6],
       [10, 11, 12]])

In [26]:
array_3d[0, ::2]

array([[1, 2, 3],
       [7, 8, 9]])

In [27]:
array_3d[0, ::-2]

array([[10, 11, 12],
       [ 4,  5,  6]])

In [28]:
array_3d[0, ::-1]

array([[10, 11, 12],
       [ 7,  8,  9],
       [ 4,  5,  6],
       [ 1,  2,  3]])

### Assigning

In [29]:
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [33]:
array_3d[1][2][0]

19

In [35]:
array_3d[1, 2, 0]

19

In [36]:
array_3d[1, 2, 0] = 50
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [50, 20, 21],
        [22, 23, 24]]])

In [41]:
array_3d[:, 1:3, :-1]

array([[[ 4,  5],
        [ 7,  8]],

       [[16, 17],
        [50, 20]]])

In [43]:
array_3d[:, 1:3, :-1] = [[[64, 65],
                          [67, 68]],
                          
                         [[76, 77],
                          [79, 80]]]

array_3d

array([[[ 1,  2,  3],
        [64, 65,  6],
        [67, 68,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [76, 77, 18],
        [79, 80, 21],
        [22, 23, 24]]])

In [45]:
array_3d[0]

array([[ 1,  2,  3],
       [64, 65,  6],
       [67, 68,  9],
       [10, 11, 12]])

In [47]:
array_3d[0] = 99
array_3d

array([[[99, 99, 99],
        [99, 99, 99],
        [99, 99, 99],
        [99, 99, 99]],

       [[13, 14, 15],
        [76, 77, 18],
        [79, 80, 21],
        [22, 23, 24]]])

### Exercícios Não resolvidos

Neste módulo, vamos trabalhar com um array 3-D, que representa o desempenho de atletas de corrida.

Na primeira dimensão (profundidade), vamos representar 3 dias de avaliação diferentes. Na segunda dimensão (linhas), cada um dos 5 atletas. Na terceira dimensão (colunas), cada uma das 4 voltas da pista de corrida. Os valores serão dados em segundos.

Estes dados serão simulados com o código abaixo, mas não se preocupe em entendê-lo por enquanto, os detalhes destas funções serão apresentados nas próximas aulas.

In [ ]:
rng = np.random.default_rng(seed=1)

In [ ]:
array = rng.normal(loc=50, scale=3, size=60).reshape(3, 5, 4).round(3)

In [ ]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

In [ ]:
array.shape

(3, 5, 4)

👆 Observe pelo `shape` que são 3 dias, 5 atletas e 4 voltas.

Dada a definição deste array apresentada acima, você pode entender a primeira linha:
```
[51.037, 52.465, 50.991, 46.091]
```
como o desempenho do primeiro atleta, no primeiro dia, nas 4 voltas da pista.

A sétima linha:
```
[41.867, 44.333, 49.476, 48.733]
```
é o desempenho do segundo atleta no segundo dia, nas 4 voltas da pista.

#### Indexing

Dado o array acima, utilize indexação para recuperar o desempenho do terceiro atleta no segundo dia.

Lembre-se que, no Python, a indexação começa em 0!

In [ ]:
array[...]

array([50.641, 50.652, 56.354, 46.664])

Agora recupere o desempenho de todos os atletas na última volta do primeiro dia. Use indexação negativa para acessar a última volta.

In [ ]:
...

array([46.091, 51.743, 51.64 , 51.797, 49.228])

Agora recupere o desempenho do segundo e do quarto atletas, no terceiro dia, na segunda volta.

In [ ]:
...

array([50.286, 48.496])

Usando indexação negativa, recupere o desempenho de todos os atletas em todos os dias, na penúltima volta.

In [ ]:
...

array([[50.991, 48.389, 50.085, 48.554, 47.654],
       [53.882, 49.476, 56.354, 51.94 , 50.502],
       [49.784, 50.107, 50.963, 52.637, 46.254]])

Crie uma máscara booleana para representar somente os resultados menores que 46. Depois utilize esta máscara para filtrar do array os resultados que atendem a esta condição.

In [ ]:
mask = ...

In [ ]:
...

array([41.867, 44.333, 45.056])

#### Slicing

Utilize fatiamento para recuperar o desempenho do quarto atleta nas duas primeiras voltas, em todos os dias.

In [ ]:
...

array([[47.791, 49.511],
       [48.867, 56.128],
       [52.195, 48.496]])

Agora recupere o desempenho de todos os atletas nos dois primeiros dias, da segunda volta em diante.

In [ ]:
...

array([[[52.465, 50.991, 46.091],
        [51.339, 48.389, 51.743],
        [50.882, 50.085, 51.64 ],
        [49.511, 48.554, 51.797],
        [49.123, 47.654, 49.228]],

       [[49.173, 53.882, 53.02 ],
        [44.333, 49.476, 48.733],
        [50.652, 56.354, 46.664],
        [56.128, 51.94 , 51.989],
        [45.056, 50.502, 50.327]]])

Utilize a notação negativa e a notação de "passo" para recuperar os desempenhos dos dois últimos atletas, no segundo dia, nas voltas de índice ímpar.

In [ ]:
...

array([[56.128, 51.989],
       [45.056, 50.327]])

#### Assigning

Suponha que o segundo atleta tenha sido desclassificado na prova do terceiro dia, e você deve demonstrar isso no array mudando todos os valores de suas voltas para o número 99.

Utilize a técnica de assigning para fazer esta correção, e exiba o array modificado.

In [ ]:
array[...] = ...

In [ ]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [99.   , 99.   , 99.   , 99.   ],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

Foi descoberto que o cronômetro utilizado no primeiro dia de prova estava descalibrado, e por isso, todos os tempos correspondentes devem ser acrescidos em 0.05 segundos. Realize a correção e exiba o array modificado.

Lembre-se que você pode adicionar valores a um objeto do Python com a notação `+=`.

In [ ]:
...

In [ ]:
array

array([[[51.087, 52.515, 51.041, 46.141],
        [52.766, 51.389, 48.439, 51.793],
        [51.144, 50.932, 50.135, 51.69 ],
        [47.841, 49.561, 48.604, 51.847],
        [50.169, 49.173, 47.704, 49.278]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [99.   , 99.   , 99.   , 99.   ],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

A terceira volta dos dois primeiros atletas no segundo dia foi registrada errada, os valores corretos são 53.872 e 49.479. Faça a correção e exiba o array modificado.

In [ ]:
...

In [ ]:
array

array([[[51.087, 52.515, 51.041, 46.141],
        [52.766, 51.389, 48.439, 51.793],
        [51.144, 50.932, 50.135, 51.69 ],
        [47.841, 49.561, 48.604, 51.847],
        [50.169, 49.173, 47.704, 49.278]],

       [[50.024, 49.173, 53.872, 53.02 ],
        [41.867, 44.333, 49.479, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [99.   , 99.   , 99.   , 99.   ],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

### Exercícios Resolvidos

Neste módulo, vamos trabalhar com um array 3-D, que representa o desempenho de atletas de corrida.

Na primeira dimensão (profundidade), vamos representar 3 dias de avaliação diferentes. Na segunda dimensão (linhas), cada um dos 5 atletas. Na terceira dimensão (colunas), cada uma das 4 voltas da pista de corrida. Os valores serão dados em segundos.

Estes dados serão simulados com o código abaixo, mas não se preocupe em entendê-lo por enquanto, os detalhes destas funções serão apresentados nas próximas aulas.

In [78]:
rng = np.random.default_rng(seed=1)

In [79]:
array = rng.normal(loc=50, scale=3, size=60).reshape(3, 5, 4).round(3)

In [80]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

In [81]:
array.shape

(3, 5, 4)

👆 Observe pelo `shape` que são 3 dias, 5 atletas e 4 voltas.

Dada a definição deste array apresentada acima, você pode entender a primeira linha:
```
[51.037, 52.465, 50.991, 46.091]
```
como o desempenho do primeiro atleta, no primeiro dia, nas 4 voltas da pista.

A sétima linha:
```
[41.867, 44.333, 49.476, 48.733]
```
é o desempenho do segundo atleta no segundo dia, nas 4 voltas da pista.

#### Indexing

Dado o array acima, utilize indexação para recuperar o desempenho do terceiro atleta no segundo dia.

Lembre-se que, no Python, a indexação começa em 0!

In [82]:
array[1, 2]

array([50.641, 50.652, 56.354, 46.664])

Agora recupere o desempenho de todos os atletas na última volta do primeiro dia. Use indexação negativa para acessar a última volta.

In [83]:
array[0, :, -1]

array([46.091, 51.743, 51.64 , 51.797, 49.228])

Agora recupere o desempenho do segundo e do quarto atletas, no terceiro dia, na segunda volta.

In [84]:
array[2, [1, 3], 1]

array([50.286, 48.496])

Usando indexação negativa, recupere o desempenho de todos os atletas em todos os dias, na penúltima volta.

In [85]:
array[:, :, -2]

array([[50.991, 48.389, 50.085, 48.554, 47.654],
       [53.882, 49.476, 56.354, 51.94 , 50.502],
       [49.784, 50.107, 50.963, 52.637, 46.254]])

Crie uma máscara booleana para representar somente os resultados menores que 46. Depois utilize esta máscara para filtrar do array os resultados que atendem a esta condição.

In [86]:
mask = array < 46

In [87]:
array[mask]

array([41.867, 44.333, 45.056])

#### Slicing

Utilize fatiamento para recuperar o desempenho do quarto atleta nas duas primeiras voltas, em todos os dias.

In [88]:
array[:, 3, :2]

array([[47.791, 49.511],
       [48.867, 56.128],
       [52.195, 48.496]])

Agora recupere o desempenho de todos os atletas nos dois primeiros dias, da segunda volta em diante.

In [89]:
array[:2, :, 1:]

array([[[52.465, 50.991, 46.091],
        [51.339, 48.389, 51.743],
        [50.882, 50.085, 51.64 ],
        [49.511, 48.554, 51.797],
        [49.123, 47.654, 49.228]],

       [[49.173, 53.882, 53.02 ],
        [44.333, 49.476, 48.733],
        [50.652, 56.354, 46.664],
        [56.128, 51.94 , 51.989],
        [45.056, 50.502, 50.327]]])

Utilize a notação negativa e a notação de "passo" para recuperar os desempenhos dos dois últimos atletas, no segundo dia, nas voltas de índice ímpar.

In [90]:
array[1, -2:, 1::2]

array([[56.128, 51.989],
       [45.056, 50.327]])

#### Assigning

Suponha que o segundo atleta tenha sido desclassificado na prova do terceiro dia, e você deve demonstrar isso no array mudando todos os valores de suas voltas para o número 99.

Utilize a técnica de assigning para fazer esta correção, e exiba o array modificado.

In [91]:
array[2, 1] = 99

In [92]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [99.   , 99.   , 99.   , 99.   ],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

Foi descoberto que o cronômetro utilizado no primeiro dia de prova estava descalibrado, e por isso, todos os tempos correspondentes devem ser acrescidos em 0.05 segundos. Realize a correção e exiba o array modificado.

Lembre-se que você pode adicionar valores a um objeto do Python com a notação `+=`.

In [93]:
array[0] += 0.05

In [94]:
array

array([[[51.087, 52.515, 51.041, 46.141],
        [52.766, 51.389, 48.439, 51.793],
        [51.144, 50.932, 50.135, 51.69 ],
        [47.841, 49.561, 48.604, 51.847],
        [50.169, 49.173, 47.704, 49.278]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [99.   , 99.   , 99.   , 99.   ],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

A terceira volta dos dois primeiros atletas no segundo dia foi registrada errada, os valores corretos são 53.872 e 49.479. Faça a correção e exiba o array modificado.

In [95]:
array[1, :2, 2] = [53.882, 49.479]

In [96]:
array

array([[[51.087, 52.515, 51.041, 46.141],
        [52.766, 51.389, 48.439, 51.793],
        [51.144, 50.932, 50.135, 51.69 ],
        [47.841, 49.561, 48.604, 51.847],
        [50.169, 49.173, 47.704, 49.278]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.479, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [99.   , 99.   , 99.   , 99.   ],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

## Métodos

### Métodos de conversão

In [3]:
np.arange(1, 25)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [5]:
array_3d = np.arange(1, 25).reshape(2, 4, 3)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

#### `tolist`

In [7]:
array_3d.tolist()

[[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],
 [[13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24]]]

In [8]:
type(array_3d.tolist())

list


#### `item`

In [10]:
array_3d[1, 0, 2]

15

In [12]:
array_3d.item((1, 0, 2))

15

In [14]:
array_3d.item(14)

15

#### `itemset`

In [15]:
array_3d.itemset(14, 50)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 50],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [16]:
array_3d.item(14)

50

In [17]:
array_3d.itemset((1, 0, 2), 100)
array_3d

array([[[  1,   2,   3],
        [  4,   5,   6],
        [  7,   8,   9],
        [ 10,  11,  12]],

       [[ 13,  14, 100],
        [ 16,  17,  18],
        [ 19,  20,  21],
        [ 22,  23,  24]]])

In [19]:
array_3d.item(14)

100

In [20]:
array_3d[1, 0, 2] = 150
array_3d

array([[[  1,   2,   3],
        [  4,   5,   6],
        [  7,   8,   9],
        [ 10,  11,  12]],

       [[ 13,  14, 150],
        [ 16,  17,  18],
        [ 19,  20,  21],
        [ 22,  23,  24]]])

#### `view`

In [22]:
array_3d = np.arange(1, 25).reshape((2, 4, 3))
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [23]:
array_view = array_3d.view()
array_view

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [24]:
array_view[0, 0, 0] = 0
array_view

array([[[ 0,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [25]:
array_3d

array([[[ 0,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

#### `copy`

In [26]:
array_3d = np.arange(1, 25).reshape((2, 4, 3))
array_copy = array_3d.copy()
array_copy

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [27]:
array_copy[0, 0, 0] = 99
array_copy

array([[[99,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [28]:
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

#### `fill`

In [30]:
array_3d = np.arange(1, 25).reshape((2, 4, 3))
array_3d.fill(55)
array_3d

array([[[55, 55, 55],
        [55, 55, 55],
        [55, 55, 55],
        [55, 55, 55]],

       [[55, 55, 55],
        [55, 55, 55],
        [55, 55, 55],
        [55, 55, 55]]])

### Métodos de manipulação de shape

#### `reshape`

In [32]:
array_3d = np.arange(1, 25).reshape(2, 4, 3)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [33]:
array_3d.shape

(2, 4, 3)

In [35]:
array_3d.reshape(4, 3, 2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]],

       [[13, 14],
        [15, 16],
        [17, 18]],

       [[19, 20],
        [21, 22],
        [23, 24]]])

In [37]:
# array_3d.reshape(5, 2, 1) # erro pois não tem formato válido

In [38]:
array_3d.reshape(4, 3, -1)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]],

       [[13, 14],
        [15, 16],
        [17, 18]],

       [[19, 20],
        [21, 22],
        [23, 24]]])

In [39]:
array_3d.reshape(4, -1, 2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]],

       [[13, 14],
        [15, 16],
        [17, 18]],

       [[19, 20],
        [21, 22],
        [23, 24]]])

#### `transpose`

In [42]:
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [44]:
array_3d.shape

(2, 4, 3)

In [40]:
array_transpose = array_3d.transpose((1, 0, 2))
array_transpose

array([[[ 1,  2,  3],
        [13, 14, 15]],

       [[ 4,  5,  6],
        [16, 17, 18]],

       [[ 7,  8,  9],
        [19, 20, 21]],

       [[10, 11, 12],
        [22, 23, 24]]])

In [45]:
array_transpose.shape

(4, 2, 3)

In [46]:
array_3d.reshape((4, 2, 3))

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24]]])

In [47]:
array_2d = np.array([[1, 2, 3],
                     [4, 5, 6]])
array_2d

array([[1, 2, 3],
       [4, 5, 6]])

In [48]:
array_2d.transpose((1,0))

array([[1, 4],
       [2, 5],
       [3, 6]])

In [49]:
array_2d.reshape((3, 2))

array([[1, 2],
       [3, 4],
       [5, 6]])

#### `swapaxes`

In [50]:
array_3d = np.arange(1, 25).reshape(2, 4, 3)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [51]:
array_3d.swapaxes(1, 0)

array([[[ 1,  2,  3],
        [13, 14, 15]],

       [[ 4,  5,  6],
        [16, 17, 18]],

       [[ 7,  8,  9],
        [19, 20, 21]],

       [[10, 11, 12],
        [22, 23, 24]]])

#### `flatten`

In [52]:
array_3d.flatten() # copy

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

#### `ravel`

In [53]:
array_3d.ravel() # view

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [54]:
array_3d.reshape(-1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

#### `squeeze`

In [55]:
array_axis_size_1 = array_3d.reshape(8, 1, 3)
array_axis_size_1

array([[[ 1,  2,  3]],

       [[ 4,  5,  6]],

       [[ 7,  8,  9]],

       [[10, 11, 12]],

       [[13, 14, 15]],

       [[16, 17, 18]],

       [[19, 20, 21]],

       [[22, 23, 24]]])

In [56]:
array_axis_size_1.shape

(8, 1, 3)

In [57]:
array_squeeze = array_axis_size_1.squeeze()
array_squeeze

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24]])

### Métodos de Seleção e manipulação de itens

#### `take`

In [3]:
array_3d= np.arange(1, 25).reshape(2, 4, 3)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [4]:
array_3d.take(indices=[1, 5, 10, 12])

array([ 2,  6, 11, 13])

In [5]:
array_3d.take(indices=[[1, 5], [10, 12]])

array([[ 2,  6],
       [11, 13]])

#### `put`

In [8]:
array_3d.put(indices = [1, 5, 10, 12], values = [52, 56, 61, 63])
array_3d

array([[[ 1, 52,  3],
        [ 4,  5, 56],
        [ 7,  8,  9],
        [10, 61, 12]],

       [[63, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

#### `repeat`

In [10]:
array_3d= np.arange(1, 25).reshape(2, 4, 3)
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [12]:
array_3d.repeat(repeats=3)

array([ 1,  1,  1,  2,  2,  2,  3,  3,  3,  4,  4,  4,  5,  5,  5,  6,  6,
        6,  7,  7,  7,  8,  8,  8,  9,  9,  9, 10, 10, 10, 11, 11, 11, 12,
       12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15, 16, 16, 16, 17, 17, 17,
       18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22, 22, 23, 23,
       23, 24, 24, 24])

In [19]:
array_3d_rp_2_ax_0 = array_3d.repeat(repeats=2, axis=1)
array_3d_rp_2_ax_0

array([[[ 1,  2,  3],
        [ 1,  2,  3],
        [ 4,  5,  6],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [ 7,  8,  9],
        [10, 11, 12],
        [10, 11, 12]],

       [[13, 14, 15],
        [13, 14, 15],
        [16, 17, 18],
        [16, 17, 18],
        [19, 20, 21],
        [19, 20, 21],
        [22, 23, 24],
        [22, 23, 24]]])

In [20]:
array_3d_rp_2_ax_0.shape, array_3d.shape

((2, 8, 3), (2, 4, 3))

In [22]:
repeats = [1, 2]
axis = 0 
len(repeats) == array_3d.shape[axis]

True

In [24]:
array_3d.repeat(repeats=repeats, axis=0)

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

#### `sort`

In [26]:
array_2d = np.array([[10, 3, 7],
                     [8, 2, 9]])
array_2d.sort(axis = 0)
array_2d

array([[ 8,  2,  7],
       [10,  3,  9]])

In [27]:
array_2d.shape

(2, 3)

In [28]:
array_2d = np.array([[10, 3, 7],
                     [8, 2, 9]])
array_2d.sort(axis = 1)
array_2d

array([[ 3,  7, 10],
       [ 2,  8,  9]])

#### `argsort`

In [3]:
array_2d = np.array([[10, 3, 7],
                     [8, 2, 9]])
indices = array_2d.argsort(axis=0)
indices

array([[1, 1, 0],
       [0, 0, 1]])

In [4]:
indices = array_2d.argsort(axis=1)
indices

array([[1, 2, 0],
       [1, 0, 2]])

In [6]:
array_1d = np.array([10, 3, 7, 8, 2, 9])
indices = array_1d.argsort()
indices

array([4, 1, 2, 3, 5, 0])

In [7]:
array_1d[indices]

array([ 2,  3,  7,  8,  9, 10])

#### `searchsorted`

In [10]:
array_1d = np.array([2, 3, 7, 8, 9, 10])
array_1d.searchsorted([1, 4, 11])

array([0, 2, 6])

#### `diagonal`

In [13]:
array_2d = np.array([[10, 3, 7],
                     [8, 2, 9],
                     [11, 4, 1]])
array_2d.diagonal()

array([10,  2,  1])

### Exercicios não resolvidos

Vamos começar instanciando o mesmo array do módulo anterior, que representa o desempenho de 5 atletas em 4 voltas de uma pista de corrida, em 3 dias diferentes.

In [ ]:
rng = np.random.default_rng(seed=1)

In [ ]:
array = rng.normal(loc=50, scale=3, size=60).reshape(3, 5, 4).round(3)

In [ ]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

In [ ]:
array.shape

(3, 5, 4)

👆 Observe pelo `shape` que são 3 dias, 5 atletas e 4 voltas.

#### Métodos de conversão

##### `item`

Utilize o método `item` para recuperar o desempenho do segundo atleta no terceiro dia, na primeira volta.

In [ ]:
...

49.705

##### `itemset`

Suponha que este valor tenha sido registrado errado, e que o valor correto seja 49.709. Faça a correção utilizando `itemset`, e exiba o array corrigido.

In [ ]:
...

In [ ]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [49.709, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

Utilize `item` de novo para ter certeza de que o valor foi alterado.

In [ ]:
...

49.709

##### `view`

Gere uma view deste array, atribuindo o resultado a um novo array `array_view`.

In [ ]:
array_view = ...

Utilize `itemset` para mudar o valor corrigido anteriormente (índice (2, 1, 0)) para seu valor original (49.705), apenas em `array_view`.

In [ ]:
...

Agora, utilize `item` para verificar o valor no índice (2, 1, 0) em `array` e `array_view`.

In [ ]:
array....

49.705

In [ ]:
array_view....

49.705

💡 Observe que, apesar de você ter feito a modificação em `array_view`, `array` também foi modificado. Isso acontece porque, sendo `array_view` uma **view** de `array`, seus dados são compartilhados.

##### `copy`

Agora repita o exercício anterior, mas criando uma cópia de `array`, armazenada em `array_copy`.

In [ ]:
array_copy = ...

Mude de novo o valor em (2, 1, 0) para 49.709, somente na cópia.

In [ ]:
...

Verifique com `view` que este valor agora é diferente em `array` e `array_copy`.

In [ ]:
array....

49.705

In [ ]:
array_copy....

49.709

💡 Uma **cópia** de um array mantém dados independentes do array original.

#### Métodos de manipulação de `shape`

##### `reshape`

Suponha que você precise registrar os resultados do desempenho dos atletas em uma planilha, que armazena dados em apenas 2 dimensões. A orientação que você recebeu é que cada linha da planilha deve ser correspondente a um dia, totalizando 3 linhas, e as colunas vão conter as 4 voltas do primeiro atleta, depois as 4 voltas do segundo atleta, e assim por diante, totalizando 5 atletas x 4 voltas = 20 colunas.

Exiba uma versão do array nesta configuração.

In [ ]:
...

array([[51.037, 52.465, 50.991, 46.091, 52.716, 51.339, 48.389, 51.743,
        51.094, 50.882, 50.085, 51.64 , 47.791, 49.511, 48.554, 51.797,
        50.119, 49.123, 47.654, 49.228],
       [50.024, 49.173, 53.882, 53.02 , 41.867, 44.333, 49.476, 48.733,
        50.641, 50.652, 56.354, 46.664, 48.867, 56.128, 51.94 , 51.989,
        48.458, 45.056, 50.502, 50.327],
       [46.318, 47.95 , 49.784, 47.166, 49.705, 50.286, 50.107, 48.481,
        51.781, 52.674, 50.963, 47.545, 52.195, 48.496, 52.637, 46.785,
        52.743, 49.94 , 46.254, 49.058]])

##### `transpose`

Lembre-se que as dimensões do array representam os dias, os atletas e as voltas, nesta ordem.

Utilize `transpose` para representar o array com os dados dos atletas, depois as voltas, depois os dias. Armazene o resultado em um novo `array_transpose`, exiba o array e, depois seu `shape`.

In [ ]:
array_transpose = ...

In [ ]:
array_transpose

array([[[51.037, 50.024, 46.318],
        [52.465, 49.173, 47.95 ],
        [50.991, 53.882, 49.784],
        [46.091, 53.02 , 47.166]],

       [[52.716, 41.867, 49.705],
        [51.339, 44.333, 50.286],
        [48.389, 49.476, 50.107],
        [51.743, 48.733, 48.481]],

       [[51.094, 50.641, 51.781],
        [50.882, 50.652, 52.674],
        [50.085, 56.354, 50.963],
        [51.64 , 46.664, 47.545]],

       [[47.791, 48.867, 52.195],
        [49.511, 56.128, 48.496],
        [48.554, 51.94 , 52.637],
        [51.797, 51.989, 46.785]],

       [[50.119, 48.458, 52.743],
        [49.123, 45.056, 49.94 ],
        [47.654, 50.502, 46.254],
        [49.228, 50.327, 49.058]]])

In [ ]:
...

(5, 4, 3)

👆 5 atletas, 4 voltas, 3 dias.

💡 Ou seja, a primeira linha da visualização:
> ```
> [51.037, 50.024, 46.318]
> ```

representa o primeiro atleta, a primeira volta, e os 3 dias.

##### `swapaxes`

A partir de `array_transpose`, agora utilize `swapaxes` para mudar os eixos de forma a representar os atletas, depois os dias, depois as voltas. Armazene o resultado em `array_swapaxes`, exiba o array e seu shape.

In [ ]:
array_swapaxes = ...

In [ ]:
array_swapaxes

array([[[51.037, 52.465, 50.991, 46.091],
        [50.024, 49.173, 53.882, 53.02 ],
        [46.318, 47.95 , 49.784, 47.166]],

       [[52.716, 51.339, 48.389, 51.743],
        [41.867, 44.333, 49.476, 48.733],
        [49.705, 50.286, 50.107, 48.481]],

       [[51.094, 50.882, 50.085, 51.64 ],
        [50.641, 50.652, 56.354, 46.664],
        [51.781, 52.674, 50.963, 47.545]],

       [[47.791, 49.511, 48.554, 51.797],
        [48.867, 56.128, 51.94 , 51.989],
        [52.195, 48.496, 52.637, 46.785]],

       [[50.119, 49.123, 47.654, 49.228],
        [48.458, 45.056, 50.502, 50.327],
        [52.743, 49.94 , 46.254, 49.058]]])

In [ ]:
...

(5, 3, 4)

👆 5 atletas, 3 dias, 4 voltas.

💡 Ou seja, a primeira linha da visualização:
> ```
> [51.037, 52.465, 50.991, 46.091]
> ```

representa o primeiro atleta, o primeiro dia, as 4 voltas.

##### `flatten` / `ravel`

Agora suponha que você tenha que registrar os resultados em um sistema que foi programado para receber dados de forma linear, um valor por vez.

Linearize o array utilizando `flatten` e `ravel`.

In [ ]:
...

array([51.037, 52.465, 50.991, 46.091, 52.716, 51.339, 48.389, 51.743,
       51.094, 50.882, 50.085, 51.64 , 47.791, 49.511, 48.554, 51.797,
       50.119, 49.123, 47.654, 49.228, 50.024, 49.173, 53.882, 53.02 ,
       41.867, 44.333, 49.476, 48.733, 50.641, 50.652, 56.354, 46.664,
       48.867, 56.128, 51.94 , 51.989, 48.458, 45.056, 50.502, 50.327,
       46.318, 47.95 , 49.784, 47.166, 49.705, 50.286, 50.107, 48.481,
       51.781, 52.674, 50.963, 47.545, 52.195, 48.496, 52.637, 46.785,
       52.743, 49.94 , 46.254, 49.058])

In [ ]:
...

array([51.037, 52.465, 50.991, 46.091, 52.716, 51.339, 48.389, 51.743,
       51.094, 50.882, 50.085, 51.64 , 47.791, 49.511, 48.554, 51.797,
       50.119, 49.123, 47.654, 49.228, 50.024, 49.173, 53.882, 53.02 ,
       41.867, 44.333, 49.476, 48.733, 50.641, 50.652, 56.354, 46.664,
       48.867, 56.128, 51.94 , 51.989, 48.458, 45.056, 50.502, 50.327,
       46.318, 47.95 , 49.784, 47.166, 49.705, 50.286, 50.107, 48.481,
       51.781, 52.674, 50.963, 47.545, 52.195, 48.496, 52.637, 46.785,
       52.743, 49.94 , 46.254, 49.058])

💡 Lembre-se que `flatten` retorna uma **cópia** do array, enquanto que `ravel` retorna uma **view**, que compartilha os dados do `array`, mas mantém seu próprio `shape`.

##### `squeeze`

Nós podemos separar os resultados do primeiro dia em um novo array `array_first_day`, com a seguinte notação:

In [ ]:
array_first_day = ...

In [ ]:
array_first_day

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]]])

In [ ]:
array_first_day.ndim, array_first_day.shape

(3, (1, 5, 4))

Observe que o número de dimensões (`ndim`) de `array_first_day` continua sendo igual a 3, ou seja, o mesmo de `array`. Com `shape`, nós observamos que o eixo correspondente aos dias possui um único elemento, justamente o primeiro dia selecionado.

Utilize `squeeze` para simplificar este array, removendo o eixo dos dias, já que ele contém somente um único dia. Salve o resultado em `array_squeeze`, exiba o array e, depois, seu `shape`.

In [ ]:
array_squeeze = ...

In [ ]:
array_squeeze

array([[51.037, 52.465, 50.991, 46.091],
       [52.716, 51.339, 48.389, 51.743],
       [51.094, 50.882, 50.085, 51.64 ],
       [47.791, 49.511, 48.554, 51.797],
       [50.119, 49.123, 47.654, 49.228]])

👆 Veja que tem um par de colchetes a menos, o que indica a redução de 1 eixo.

In [ ]:
...

(5, 4)

👆 O eixo correspondente ao dia, de tamanho 1, foi removido.

#### Métodos de seleção e manipulação de itens

##### `take`

Agora considere que os dados em `array` se referem ao mesmo atleta. O primeiro eixo continua representando 3 dias diferentes, o último representa as 4 voltas de uma prova, mas o segundo eixo representa 5 provas completas do mesmo atleta. Ou seja, `array` agora contém dados consecutivos do mesmo atleta.

Suponha que, assim que terminou as provas, o atleta se queixou de dor no joelho nas voltas de número 12, 25, 31 e 40. Utilizando `take`, recupere o desempenho do atleta nessas voltas.

In [ ]:
...

array([47.791, 44.333, 46.664, 46.318])

Mas o atleta foi mais específico e disse que, nas voltas 12 e 31, a dor foi no joelho direito, e nas voltas 25 e 40, a dor foi no joelho esquerdo. Utilizando `take`, recupere essas voltas novamente, mas de forma a obter os resultados como um array onde a primeira linha se refira ao joelho direito, e a segunda ao joelho esquerdo.

In [ ]:
...

array([[47.791, 46.664],
       [44.333, 46.318]])

##### `put`

Com base no que o atleta reportou, seu treinador decidiu desconsiderar o desempenho do atleta nas voltas onde ele se queixou de dor. Utilize `put` para mudar estes valores para a constante `np.nan`, que representa valores nulos em um array do NumPy. Depois, exiba o array modificado.

In [ ]:
...

In [ ]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

##### `repeat`

Repita os valores do array para que eles sejam duplicados (`repeat = 2`), ao longo do eixo 0, 1 e 2, separadamente.

Depois, exiba o array para inspecionar onde ocorreu a repetição. Exiba também o `shape` do array para observar a alteração feita.

In [ ]:
array_repeat_axis_0 = ...

In [ ]:
array_repeat_axis_0

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]],

       [[   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

In [ ]:
...

(6, 5, 4)

👆 Veja que os dados correspondentes aos dias foram duplicados.

In [ ]:
array_repeat_axis_1 = ...

In [ ]:
array_repeat_axis_1

array([[[51.037, 52.465, 50.991, 46.091],
        [51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327],
        [48.458, 45.056, 50.502, 50.327]],

       [[   nan, 47.95 , 49.784, 47.166],
        [   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058],
        [52.743, 49.94 , 46.254, 49.058]]])

In [ ]:
...

(3, 10, 4)

👆 Veja que os dados correspondentes às provas foram duplicados.

In [ ]:
array_repeat_axis_2 = ...

In [ ]:
array_repeat_axis_2

array([[[51.037, 51.037, 52.465, 52.465, 50.991, 50.991, 46.091, 46.091],
        [52.716, 52.716, 51.339, 51.339, 48.389, 48.389, 51.743, 51.743],
        [51.094, 51.094, 50.882, 50.882, 50.085, 50.085, 51.64 , 51.64 ],
        [   nan,    nan, 49.511, 49.511, 48.554, 48.554, 51.797, 51.797],
        [50.119, 50.119, 49.123, 49.123, 47.654, 47.654, 49.228, 49.228]],

       [[50.024, 50.024, 49.173, 49.173, 53.882, 53.882, 53.02 , 53.02 ],
        [41.867, 41.867,    nan,    nan, 49.476, 49.476, 48.733, 48.733],
        [50.641, 50.641, 50.652, 50.652, 56.354, 56.354,    nan,    nan],
        [48.867, 48.867, 56.128, 56.128, 51.94 , 51.94 , 51.989, 51.989],
        [48.458, 48.458, 45.056, 45.056, 50.502, 50.502, 50.327, 50.327]],

       [[   nan,    nan, 47.95 , 47.95 , 49.784, 49.784, 47.166, 47.166],
        [49.705, 49.705, 50.286, 50.286, 50.107, 50.107, 48.481, 48.481],
        [51.781, 51.781, 52.674, 52.674, 50.963, 50.963, 47.545, 47.545],
        [52.195, 52.195, 48.496, 48.496, 52.637, 52.637, 46.785, 46.785],
        [52.743, 52.743, 49.94 , 49.94 , 46.254, 46.254, 49.058, 49.058]]])

In [ ]:
...

(3, 5, 8)

👆 Veja que os dados correspondentes às voltas foram duplicados.

##### `sort`

Primeiro, crie uma cópia de `array`, já que `sort` altera o array *inplace*.

Depois, utilize `sort` para ordenar o array ao longo do eixo 0. Exiba o array ordenado para observar o que aconteceu.

In [ ]:
array_copy = ...

In [ ]:
array_copy....

In [ ]:
array_copy

array([[[50.024, 47.95 , 49.784, 46.091],
        [41.867, 50.286, 48.389, 48.481],
        [50.641, 50.652, 50.085, 47.545],
        [48.867, 48.496, 48.554, 46.785],
        [48.458, 45.056, 46.254, 49.058]],

       [[51.037, 49.173, 50.991, 47.166],
        [49.705, 51.339, 49.476, 48.733],
        [51.094, 50.882, 50.963, 51.64 ],
        [52.195, 49.511, 51.94 , 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[   nan, 52.465, 53.882, 53.02 ],
        [52.716,    nan, 50.107, 51.743],
        [51.781, 52.674, 56.354,    nan],
        [   nan, 56.128, 52.637, 51.989],
        [52.743, 49.94 , 50.502, 50.327]]])

👆 Observe que, ao longo dos dias, os valores estão ordenados de forma crescente: `50.024 -> 51.037 -> nan`, `47.95 -> 49.173 -> 52.465`...

Também observe que o NumPy coloca `nan` no **final** da ordem; todos os valores `nan` estão no terceiro elemento do eixo 0.

Agora repita o procedimento, copiando o array e depois ordenando ao longo do eixo 1.

In [ ]:
array_copy = ...

In [ ]:
...

In [ ]:
array_copy

array([[[50.119, 49.123, 47.654, 46.091],
        [51.037, 49.511, 48.389, 49.228],
        [51.094, 50.882, 48.554, 51.64 ],
        [52.716, 51.339, 50.085, 51.743],
        [   nan, 52.465, 50.991, 51.797]],

       [[41.867, 45.056, 49.476, 48.733],
        [48.458, 49.173, 50.502, 50.327],
        [48.867, 50.652, 51.94 , 51.989],
        [50.024, 56.128, 53.882, 53.02 ],
        [50.641,    nan, 56.354,    nan]],

       [[49.705, 47.95 , 46.254, 46.785],
        [51.781, 48.496, 49.784, 47.166],
        [52.195, 49.94 , 50.107, 47.545],
        [52.743, 50.286, 50.963, 48.481],
        [   nan, 52.674, 52.637, 49.058]]])

👆 Agora, a ordenação ocorre ao longo das provas (que na visualização correspondem às colunas): `50.119 -> 51.037 -> 51.094 -> 52.716 -> nan`...

Desta vez, os valores `nan` estão no último elemento do eixo 1 (última linha de cada array que representa os dias).

Repita mais uma vez, copiando o array e depois ordenando ao longo do eixo 2.

In [ ]:
array_copy = ...

In [ ]:
...

In [ ]:
array_copy

array([[[46.091, 50.991, 51.037, 52.465],
        [48.389, 51.339, 51.743, 52.716],
        [50.085, 50.882, 51.094, 51.64 ],
        [48.554, 49.511, 51.797,    nan],
        [47.654, 49.123, 49.228, 50.119]],

       [[49.173, 50.024, 53.02 , 53.882],
        [41.867, 48.733, 49.476,    nan],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 51.94 , 51.989, 56.128],
        [45.056, 48.458, 50.327, 50.502]],

       [[47.166, 47.95 , 49.784,    nan],
        [48.481, 49.705, 50.107, 50.286],
        [47.545, 50.963, 51.781, 52.674],
        [46.785, 48.496, 52.195, 52.637],
        [46.254, 49.058, 49.94 , 52.743]]])

👆 A ordenação ocorre ao longo das voltas (que na visualização correspondem às linhas): `46.091 -> 50.991 -> 51.037 -> 52.465`...

Desta vez, os valores `nan` estão no último elemento do eixo 2 (última coluna  de cada array que representa os dias).

##### `argsort`

Repita o exercício com `sort`, mas agora, ao invés de ordenar os valores *inplace*, recupere e exiba os índices necessários para ordenar o array. Isto é feito com o método `argsort`.

Desta vez, como não há modificação do array, você não precisa da cópia.

In [ ]:
indices_axis_0 = ...

In [ ]:
indices_axis_0

array([[[1, 2, 2, 0],
        [1, 2, 0, 2],
        [1, 1, 0, 2],
        [1, 2, 0, 2],
        [1, 1, 2, 2]],

       [[0, 1, 0, 2],
        [2, 0, 1, 1],
        [0, 0, 2, 0],
        [2, 0, 1, 0],
        [0, 0, 0, 0]],

       [[2, 0, 1, 1],
        [0, 1, 2, 0],
        [2, 2, 1, 1],
        [0, 1, 2, 1],
        [2, 2, 1, 1]]])

👆 Observe que o valor máximo neste array que representa os índices é 2, porque o eixo 0 só contém 3 elementos (3 dias).

In [ ]:
indices_axis_1 = ...

In [ ]:
indices_axis_1

array([[[4, 4, 4, 0],
        [0, 3, 1, 4],
        [2, 2, 3, 2],
        [1, 1, 2, 1],
        [3, 0, 0, 3]],

       [[1, 4, 1, 1],
        [4, 0, 4, 4],
        [3, 2, 3, 3],
        [0, 3, 0, 0],
        [2, 1, 2, 2]],

       [[1, 0, 4, 3],
        [2, 3, 0, 0],
        [3, 4, 1, 2],
        [4, 1, 2, 1],
        [0, 2, 3, 4]]])

👆 Agora o valor máximo é 4, pois o eixo 1 tem 5 elementos (5 atletas).

In [ ]:
indices_axis_2 = ...

In [ ]:
indices_axis_2

array([[[3, 2, 0, 1],
        [2, 1, 3, 0],
        [2, 1, 0, 3],
        [2, 1, 3, 0],
        [2, 1, 3, 0]],

       [[1, 0, 3, 2],
        [0, 3, 2, 1],
        [0, 1, 2, 3],
        [0, 2, 3, 1],
        [1, 0, 3, 2]],

       [[3, 1, 2, 0],
        [3, 0, 2, 1],
        [3, 2, 0, 1],
        [3, 1, 0, 2],
        [2, 3, 1, 0]]])

👆 O valor máximo é 3, pois o eixo 2 tem 4 elementos (4 voltas).

##### `searchsorted`

Este método só funciona para arrays 1D que já estejam ordenados.

Então, primeiro linearize `array` com `flatten`, depois ordene com `sort` (lembre-se que o método `sort` altera o array *inplace*, ou seja, ele não retorna nada, então você não precisa armazenar o resultado em uma nova variável), e utilize indexação para recuperar os primeiros 15 elementos.

In [ ]:
array_flatten = ...

In [ ]:
...

In [ ]:
array_filtered = ...

In [ ]:
array_filtered

array([41.867, 45.056, 46.091, 46.254, 46.785, 47.166, 47.545, 47.654,
       47.95 , 48.389, 48.458, 48.481, 48.496, 48.554, 48.733])

Utilizando `searchsorted`, descubra em que posições deveriam ser inseridos os valores 40.50, 42.357, 47.025 e 48.952 deveriam ser inseridos para manter a ordenação.

In [ ]:
indices = ...

In [ ]:
indices

array([ 0,  1,  5, 15])

👆 Inspecione o array e os índices encontrados para confirmar a resposta.

##### `diagonal`

O entendimento de diagonais é facilitado trabalhando com arrays 2D.

Por isso, primeiro obtenha com indexação uma view do array correspondente ao primeiro dia.

In [ ]:
array_2D = ...

In [ ]:
array_2D

array([[51.037, 52.465, 50.991, 46.091],
       [52.716, 51.339, 48.389, 51.743],
       [51.094, 50.882, 50.085, 51.64 ],
       [   nan, 49.511, 48.554, 51.797],
       [50.119, 49.123, 47.654, 49.228]])

In [ ]:
array_2D.shape

(5, 4)

Agora, recupere e exiba a diagonal deste array.

In [ ]:
...

array([51.037, 51.339, 50.085, 51.797])

👆 Não é difícil encontrar visualmente esta diagonal em `array_2D`.

Observe que, como `array_2D` é **retangular** (como demonstra seu `shape`), nenhum valor da última linha é retornado na diagonal, pois ele tem mais linhas que colunas.

### Exercicios Resolvidos

Vamos começar instanciando o mesmo array do módulo anterior, que representa o desempenho de 5 atletas em 4 voltas de uma pista de corrida, em 3 dias diferentes.

In [2]:
rng = np.random.default_rng(seed=1)

In [3]:
array = rng.normal(loc=50, scale=3, size=60).reshape(3, 5, 4).round(3)

In [4]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

In [5]:
array.shape

(3, 5, 4)

👆 Observe pelo `shape` que são 3 dias, 5 atletas e 4 voltas.

#### Métodos de conversão

##### `item`

Utilize o método `item` para recuperar o desempenho do segundo atleta no terceiro dia, na primeira volta.

In [6]:
array.item((2, 1, 0))

49.705

##### `itemset`

Suponha que este valor tenha sido registrado errado, e que o valor correto seja 49.709. Faça a correção utilizando `itemset`, e exiba o array corrigido.

In [7]:
array.itemset((2, 1, 0), 49.709)

In [8]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867, 44.333, 49.476, 48.733],
        [50.641, 50.652, 56.354, 46.664],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[46.318, 47.95 , 49.784, 47.166],
        [49.709, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

Utilize `item` de novo para ter certeza de que o valor foi alterado.

In [9]:
array.item((2, 1, 0))

49.709

##### `view`

Gere uma view deste array, atribuindo o resultado a um novo array `array_view`.

In [10]:
array_view = array.view()

Utilize `itemset` para mudar o valor corrigido anteriormente (índice (2, 1, 0)) para seu valor original (49.705), apenas em `array_view`.

In [11]:
array_view.itemset((2,1,0), 49.705)

Agora, utilize `item` para verificar o valor no índice (2, 1, 0) em `array` e `array_view`.

In [12]:
array.item((2, 1, 0))

49.705

In [13]:
array_view.item((2, 1, 0))

49.705

💡 Observe que, apesar de você ter feito a modificação em `array_view`, `array` também foi modificado. Isso acontece porque, sendo `array_view` uma **view** de `array`, seus dados são compartilhados.

##### `copy`

Agora repita o exercício anterior, mas criando uma cópia de `array`, armazenada em `array_copy`.

In [14]:
array_copy = array.copy()

Mude de novo o valor em (2, 1, 0) para 49.709, somente na cópia.

In [15]:
array_copy.itemset((2, 1, 0), 49.709)

Verifique com `view` que este valor agora é diferente em `array` e `array_copy`.

In [16]:
array.item((2, 1, 0))

49.705

In [17]:
array_copy.item((2, 1, 0))

49.709

💡 Uma **cópia** de um array mantém dados independentes do array original.

#### Métodos de manipulação de `shape`

##### `reshape`

Suponha que você precise registrar os resultados do desempenho dos atletas em uma planilha, que armazena dados em apenas 2 dimensões. A orientação que você recebeu é que cada linha da planilha deve ser correspondente a um dia, totalizando 3 linhas, e as colunas vão conter as 4 voltas do primeiro atleta, depois as 4 voltas do segundo atleta, e assim por diante, totalizando 5 atletas x 4 voltas = 20 colunas.

Exiba uma versão do array nesta configuração.

In [18]:
array.reshape((3, -1))

array([[51.037, 52.465, 50.991, 46.091, 52.716, 51.339, 48.389, 51.743,
        51.094, 50.882, 50.085, 51.64 , 47.791, 49.511, 48.554, 51.797,
        50.119, 49.123, 47.654, 49.228],
       [50.024, 49.173, 53.882, 53.02 , 41.867, 44.333, 49.476, 48.733,
        50.641, 50.652, 56.354, 46.664, 48.867, 56.128, 51.94 , 51.989,
        48.458, 45.056, 50.502, 50.327],
       [46.318, 47.95 , 49.784, 47.166, 49.705, 50.286, 50.107, 48.481,
        51.781, 52.674, 50.963, 47.545, 52.195, 48.496, 52.637, 46.785,
        52.743, 49.94 , 46.254, 49.058]])

##### `transpose`

Lembre-se que as dimensões do array representam os dias, os atletas e as voltas, nesta ordem.

Utilize `transpose` para representar o array com os dados dos atletas, depois as voltas, depois os dias. Armazene o resultado em um novo `array_transpose`, exiba o array e, depois seu `shape`.

In [19]:
array_transpose = array.transpose((1, 2, 0))

In [20]:
array_transpose

array([[[51.037, 50.024, 46.318],
        [52.465, 49.173, 47.95 ],
        [50.991, 53.882, 49.784],
        [46.091, 53.02 , 47.166]],

       [[52.716, 41.867, 49.705],
        [51.339, 44.333, 50.286],
        [48.389, 49.476, 50.107],
        [51.743, 48.733, 48.481]],

       [[51.094, 50.641, 51.781],
        [50.882, 50.652, 52.674],
        [50.085, 56.354, 50.963],
        [51.64 , 46.664, 47.545]],

       [[47.791, 48.867, 52.195],
        [49.511, 56.128, 48.496],
        [48.554, 51.94 , 52.637],
        [51.797, 51.989, 46.785]],

       [[50.119, 48.458, 52.743],
        [49.123, 45.056, 49.94 ],
        [47.654, 50.502, 46.254],
        [49.228, 50.327, 49.058]]])

In [31]:
array_transpose.shape

(5, 4, 3)

👆 5 atletas, 4 voltas, 3 dias.

💡 Ou seja, a primeira linha da visualização:
> ```
> [51.037, 50.024, 46.318]
> ```

representa o primeiro atleta, a primeira volta, e os 3 dias.

##### `swapaxes`

A partir de `array_transpose`, agora utilize `swapaxes` para mudar os eixos de forma a representar os atletas, depois os dias, depois as voltas. Armazene o resultado em `array_swapaxes`, exiba o array e seu shape.

In [32]:
array_swapaxes = array_transpose.swapaxes(1, 2)

In [33]:
array_swapaxes

array([[[51.037, 52.465, 50.991, 46.091],
        [50.024, 49.173, 53.882, 53.02 ],
        [46.318, 47.95 , 49.784, 47.166]],

       [[52.716, 51.339, 48.389, 51.743],
        [41.867, 44.333, 49.476, 48.733],
        [49.705, 50.286, 50.107, 48.481]],

       [[51.094, 50.882, 50.085, 51.64 ],
        [50.641, 50.652, 56.354, 46.664],
        [51.781, 52.674, 50.963, 47.545]],

       [[47.791, 49.511, 48.554, 51.797],
        [48.867, 56.128, 51.94 , 51.989],
        [52.195, 48.496, 52.637, 46.785]],

       [[50.119, 49.123, 47.654, 49.228],
        [48.458, 45.056, 50.502, 50.327],
        [52.743, 49.94 , 46.254, 49.058]]])

In [34]:
array_swapaxes.shape

(5, 3, 4)

👆 5 atletas, 3 dias, 4 voltas.

💡 Ou seja, a primeira linha da visualização:
> ```
> [51.037, 52.465, 50.991, 46.091]
> ```

representa o primeiro atleta, o primeiro dia, as 4 voltas.

##### `flatten` / `ravel`

Agora suponha que você tenha que registrar os resultados em um sistema que foi programado para receber dados de forma linear, um valor por vez.

Linearize o array utilizando `flatten` e `ravel`.

In [36]:
array.flatten()

array([51.037, 52.465, 50.991, 46.091, 52.716, 51.339, 48.389, 51.743,
       51.094, 50.882, 50.085, 51.64 , 47.791, 49.511, 48.554, 51.797,
       50.119, 49.123, 47.654, 49.228, 50.024, 49.173, 53.882, 53.02 ,
       41.867, 44.333, 49.476, 48.733, 50.641, 50.652, 56.354, 46.664,
       48.867, 56.128, 51.94 , 51.989, 48.458, 45.056, 50.502, 50.327,
       46.318, 47.95 , 49.784, 47.166, 49.705, 50.286, 50.107, 48.481,
       51.781, 52.674, 50.963, 47.545, 52.195, 48.496, 52.637, 46.785,
       52.743, 49.94 , 46.254, 49.058])

In [37]:
array.ravel()

array([51.037, 52.465, 50.991, 46.091, 52.716, 51.339, 48.389, 51.743,
       51.094, 50.882, 50.085, 51.64 , 47.791, 49.511, 48.554, 51.797,
       50.119, 49.123, 47.654, 49.228, 50.024, 49.173, 53.882, 53.02 ,
       41.867, 44.333, 49.476, 48.733, 50.641, 50.652, 56.354, 46.664,
       48.867, 56.128, 51.94 , 51.989, 48.458, 45.056, 50.502, 50.327,
       46.318, 47.95 , 49.784, 47.166, 49.705, 50.286, 50.107, 48.481,
       51.781, 52.674, 50.963, 47.545, 52.195, 48.496, 52.637, 46.785,
       52.743, 49.94 , 46.254, 49.058])

💡 Lembre-se que `flatten` retorna uma **cópia** do array, enquanto que `ravel` retorna uma **view**, que compartilha os dados do `array`, mas mantém seu próprio `shape`.

##### `squeeze`

Nós podemos separar os resultados do primeiro dia em um novo array `array_first_day`, com a seguinte notação:

In [42]:
array_first_day = array[0:1]

In [43]:
array_first_day

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [47.791, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]]])

In [44]:
array_first_day.ndim, array_first_day.shape

(3, (1, 5, 4))

Observe que o número de dimensões (`ndim`) de `array_first_day` continua sendo igual a 3, ou seja, o mesmo de `array`. Com `shape`, nós observamos que o eixo correspondente aos dias possui um único elemento, justamente o primeiro dia selecionado.

Utilize `squeeze` para simplificar este array, removendo o eixo dos dias, já que ele contém somente um único dia. Salve o resultado em `array_squeeze`, exiba o array e, depois, seu `shape`.

In [45]:
array_squeeze = array_first_day.squeeze()

In [46]:
array_squeeze

array([[51.037, 52.465, 50.991, 46.091],
       [52.716, 51.339, 48.389, 51.743],
       [51.094, 50.882, 50.085, 51.64 ],
       [47.791, 49.511, 48.554, 51.797],
       [50.119, 49.123, 47.654, 49.228]])

👆 Veja que tem um par de colchetes a menos, o que indica a redução de 1 eixo.

In [47]:
array_squeeze.shape

(5, 4)

👆 O eixo correspondente ao dia, de tamanho 1, foi removido.

#### Métodos de seleção e manipulação de itens

##### `take`

Agora considere que os dados em `array` se referem ao mesmo atleta. O primeiro eixo continua representando 3 dias diferentes, o último representa as 4 voltas de uma prova, mas o segundo eixo representa 5 provas completas do mesmo atleta. Ou seja, `array` agora contém dados consecutivos do mesmo atleta.

Suponha que, assim que terminou as provas, o atleta se queixou de dor no joelho nas voltas de número 12, 25, 31 e 40. Utilizando `take`, recupere o desempenho do atleta nessas voltas.

In [48]:
array.take([12, 25, 31, 40])

array([47.791, 44.333, 46.664, 46.318])

Mas o atleta foi mais específico e disse que, nas voltas 12 e 31, a dor foi no joelho direito, e nas voltas 25 e 40, a dor foi no joelho esquerdo. Utilizando `take`, recupere essas voltas novamente, mas de forma a obter os resultados como um array onde a primeira linha se refira ao joelho direito, e a segunda ao joelho esquerdo.

In [49]:
array.take([[12, 31], [25, 40]])

array([[47.791, 46.664],
       [44.333, 46.318]])

##### `put`

Com base no que o atleta reportou, seu treinador decidiu desconsiderar o desempenho do atleta nas voltas onde ele se queixou de dor. Utilize `put` para mudar estes valores para a constante `np.nan`, que representa valores nulos em um array do NumPy. Depois, exiba o array modificado.

In [50]:
array.put([12, 25, 31, 40], np.nan)

In [51]:
array

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

##### `repeat`

Repita os valores do array para que eles sejam duplicados (`repeat = 2`), ao longo do eixo 0, 1 e 2, separadamente.

Depois, exiba o array para inspecionar onde ocorreu a repetição. Exiba também o `shape` do array para observar a alteração feita.

In [55]:
array_repeat_axis_0 = array.repeat(2, axis=0)

In [56]:
array_repeat_axis_0

array([[[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327]],

       [[   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]],

       [[   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058]]])

In [57]:
array_repeat_axis_0.shape

(6, 5, 4)

👆 Veja que os dados correspondentes aos dias foram duplicados.

In [58]:
array_repeat_axis_1 = array.repeat(2, axis=1)

In [59]:
array_repeat_axis_1

array([[[51.037, 52.465, 50.991, 46.091],
        [51.037, 52.465, 50.991, 46.091],
        [52.716, 51.339, 48.389, 51.743],
        [52.716, 51.339, 48.389, 51.743],
        [51.094, 50.882, 50.085, 51.64 ],
        [51.094, 50.882, 50.085, 51.64 ],
        [   nan, 49.511, 48.554, 51.797],
        [   nan, 49.511, 48.554, 51.797],
        [50.119, 49.123, 47.654, 49.228],
        [50.119, 49.123, 47.654, 49.228]],

       [[50.024, 49.173, 53.882, 53.02 ],
        [50.024, 49.173, 53.882, 53.02 ],
        [41.867,    nan, 49.476, 48.733],
        [41.867,    nan, 49.476, 48.733],
        [50.641, 50.652, 56.354,    nan],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 56.128, 51.94 , 51.989],
        [48.867, 56.128, 51.94 , 51.989],
        [48.458, 45.056, 50.502, 50.327],
        [48.458, 45.056, 50.502, 50.327]],

       [[   nan, 47.95 , 49.784, 47.166],
        [   nan, 47.95 , 49.784, 47.166],
        [49.705, 50.286, 50.107, 48.481],
        [49.705, 50.286, 50.107, 48.481],
        [51.781, 52.674, 50.963, 47.545],
        [51.781, 52.674, 50.963, 47.545],
        [52.195, 48.496, 52.637, 46.785],
        [52.195, 48.496, 52.637, 46.785],
        [52.743, 49.94 , 46.254, 49.058],
        [52.743, 49.94 , 46.254, 49.058]]])

In [60]:
array_repeat_axis_1.shape

(3, 10, 4)

👆 Veja que os dados correspondentes às provas foram duplicados.

In [61]:
array_repeat_axis_2 = array.repeat(2, axis=2)

In [62]:
array_repeat_axis_2

array([[[51.037, 51.037, 52.465, 52.465, 50.991, 50.991, 46.091, 46.091],
        [52.716, 52.716, 51.339, 51.339, 48.389, 48.389, 51.743, 51.743],
        [51.094, 51.094, 50.882, 50.882, 50.085, 50.085, 51.64 , 51.64 ],
        [   nan,    nan, 49.511, 49.511, 48.554, 48.554, 51.797, 51.797],
        [50.119, 50.119, 49.123, 49.123, 47.654, 47.654, 49.228, 49.228]],

       [[50.024, 50.024, 49.173, 49.173, 53.882, 53.882, 53.02 , 53.02 ],
        [41.867, 41.867,    nan,    nan, 49.476, 49.476, 48.733, 48.733],
        [50.641, 50.641, 50.652, 50.652, 56.354, 56.354,    nan,    nan],
        [48.867, 48.867, 56.128, 56.128, 51.94 , 51.94 , 51.989, 51.989],
        [48.458, 48.458, 45.056, 45.056, 50.502, 50.502, 50.327, 50.327]],

       [[   nan,    nan, 47.95 , 47.95 , 49.784, 49.784, 47.166, 47.166],
        [49.705, 49.705, 50.286, 50.286, 50.107, 50.107, 48.481, 48.481],
        [51.781, 51.781, 52.674, 52.674, 50.963, 50.963, 47.545, 47.545],
        [52.195, 52.195, 48.496, 48.496, 52.637, 52.637, 46.785, 46.785],
        [52.743, 52.743, 49.94 , 49.94 , 46.254, 46.254, 49.058, 49.058]]])

In [64]:
array_repeat_axis_2.shape

(3, 5, 8)

👆 Veja que os dados correspondentes às voltas foram duplicados.

##### `sort`

Primeiro, crie uma cópia de `array`, já que `sort` altera o array *inplace*.

Depois, utilize `sort` para ordenar o array ao longo do eixo 0. Exiba o array ordenado para observar o que aconteceu.

In [65]:
array_copy = array.copy()

In [66]:
array_copy.sort(axis=0)

In [67]:
array_copy

array([[[50.024, 47.95 , 49.784, 46.091],
        [41.867, 50.286, 48.389, 48.481],
        [50.641, 50.652, 50.085, 47.545],
        [48.867, 48.496, 48.554, 46.785],
        [48.458, 45.056, 46.254, 49.058]],

       [[51.037, 49.173, 50.991, 47.166],
        [49.705, 51.339, 49.476, 48.733],
        [51.094, 50.882, 50.963, 51.64 ],
        [52.195, 49.511, 51.94 , 51.797],
        [50.119, 49.123, 47.654, 49.228]],

       [[   nan, 52.465, 53.882, 53.02 ],
        [52.716,    nan, 50.107, 51.743],
        [51.781, 52.674, 56.354,    nan],
        [   nan, 56.128, 52.637, 51.989],
        [52.743, 49.94 , 50.502, 50.327]]])

👆 Observe que, ao longo dos dias, os valores estão ordenados de forma crescente: `50.024 -> 51.037 -> nan`, `47.95 -> 49.173 -> 52.465`...

Também observe que o NumPy coloca `nan` no **final** da ordem; todos os valores `nan` estão no terceiro elemento do eixo 0.

Agora repita o procedimento, copiando o array e depois ordenando ao longo do eixo 1.

In [74]:
array_copy = array.copy()

In [75]:
array_copy.sort(axis=1)

In [76]:
array_copy

array([[[50.119, 49.123, 47.654, 46.091],
        [51.037, 49.511, 48.389, 49.228],
        [51.094, 50.882, 48.554, 51.64 ],
        [52.716, 51.339, 50.085, 51.743],
        [   nan, 52.465, 50.991, 51.797]],

       [[41.867, 45.056, 49.476, 48.733],
        [48.458, 49.173, 50.502, 50.327],
        [48.867, 50.652, 51.94 , 51.989],
        [50.024, 56.128, 53.882, 53.02 ],
        [50.641,    nan, 56.354,    nan]],

       [[49.705, 47.95 , 46.254, 46.785],
        [51.781, 48.496, 49.784, 47.166],
        [52.195, 49.94 , 50.107, 47.545],
        [52.743, 50.286, 50.963, 48.481],
        [   nan, 52.674, 52.637, 49.058]]])

👆 Agora, a ordenação ocorre ao longo das provas (que na visualização correspondem às colunas): `50.119 -> 51.037 -> 51.094 -> 52.716 -> nan`...

Desta vez, os valores `nan` estão no último elemento do eixo 1 (última linha de cada array que representa os dias).

Repita mais uma vez, copiando o array e depois ordenando ao longo do eixo 2.

In [77]:
array_copy = array.copy()

In [78]:
array_copy.sort(axis=2)

In [79]:
array_copy

array([[[46.091, 50.991, 51.037, 52.465],
        [48.389, 51.339, 51.743, 52.716],
        [50.085, 50.882, 51.094, 51.64 ],
        [48.554, 49.511, 51.797,    nan],
        [47.654, 49.123, 49.228, 50.119]],

       [[49.173, 50.024, 53.02 , 53.882],
        [41.867, 48.733, 49.476,    nan],
        [50.641, 50.652, 56.354,    nan],
        [48.867, 51.94 , 51.989, 56.128],
        [45.056, 48.458, 50.327, 50.502]],

       [[47.166, 47.95 , 49.784,    nan],
        [48.481, 49.705, 50.107, 50.286],
        [47.545, 50.963, 51.781, 52.674],
        [46.785, 48.496, 52.195, 52.637],
        [46.254, 49.058, 49.94 , 52.743]]])

👆 A ordenação ocorre ao longo das voltas (que na visualização correspondem às linhas): `46.091 -> 50.991 -> 51.037 -> 52.465`...

Desta vez, os valores `nan` estão no último elemento do eixo 2 (última coluna  de cada array que representa os dias).

##### `argsort`

Repita o exercício com `sort`, mas agora, ao invés de ordenar os valores *inplace*, recupere e exiba os índices necessários para ordenar o array. Isto é feito com o método `argsort`.

Desta vez, como não há modificação do array, você não precisa da cópia.

In [ ]:
indices_axis_0 = ...

In [ ]:
indices_axis_0

array([[[1, 2, 2, 0],
        [1, 2, 0, 2],
        [1, 1, 0, 2],
        [1, 2, 0, 2],
        [1, 1, 2, 2]],

       [[0, 1, 0, 2],
        [2, 0, 1, 1],
        [0, 0, 2, 0],
        [2, 0, 1, 0],
        [0, 0, 0, 0]],

       [[2, 0, 1, 1],
        [0, 1, 2, 0],
        [2, 2, 1, 1],
        [0, 1, 2, 1],
        [2, 2, 1, 1]]])

👆 Observe que o valor máximo neste array que representa os índices é 2, porque o eixo 0 só contém 3 elementos (3 dias).

In [ ]:
indices_axis_1 = ...

In [ ]:
indices_axis_1

array([[[4, 4, 4, 0],
        [0, 3, 1, 4],
        [2, 2, 3, 2],
        [1, 1, 2, 1],
        [3, 0, 0, 3]],

       [[1, 4, 1, 1],
        [4, 0, 4, 4],
        [3, 2, 3, 3],
        [0, 3, 0, 0],
        [2, 1, 2, 2]],

       [[1, 0, 4, 3],
        [2, 3, 0, 0],
        [3, 4, 1, 2],
        [4, 1, 2, 1],
        [0, 2, 3, 4]]])

👆 Agora o valor máximo é 4, pois o eixo 1 tem 5 elementos (5 atletas).

In [ ]:
indices_axis_2 = ...

In [ ]:
indices_axis_2

array([[[3, 2, 0, 1],
        [2, 1, 3, 0],
        [2, 1, 0, 3],
        [2, 1, 3, 0],
        [2, 1, 3, 0]],

       [[1, 0, 3, 2],
        [0, 3, 2, 1],
        [0, 1, 2, 3],
        [0, 2, 3, 1],
        [1, 0, 3, 2]],

       [[3, 1, 2, 0],
        [3, 0, 2, 1],
        [3, 2, 0, 1],
        [3, 1, 0, 2],
        [2, 3, 1, 0]]])

👆 O valor máximo é 3, pois o eixo 2 tem 4 elementos (4 voltas).

##### `searchsorted`

Este método só funciona para arrays 1D que já estejam ordenados.

Então, primeiro linearize `array` com `flatten`, depois ordene com `sort` (lembre-se que o método `sort` altera o array *inplace*, ou seja, ele não retorna nada, então você não precisa armazenar o resultado em uma nova variável), e utilize indexação para recuperar os primeiros 15 elementos.

In [ ]:
array_flatten = ...

In [ ]:
...

In [ ]:
array_filtered = ...

In [ ]:
array_filtered

array([41.867, 45.056, 46.091, 46.254, 46.785, 47.166, 47.545, 47.654,
       47.95 , 48.389, 48.458, 48.481, 48.496, 48.554, 48.733])

Utilizando `searchsorted`, descubra em que posições deveriam ser inseridos os valores 40.50, 42.357, 47.025 e 48.952 deveriam ser inseridos para manter a ordenação.

In [ ]:
indices = ...

In [ ]:
indices

array([ 0,  1,  5, 15])

👆 Inspecione o array e os índices encontrados para confirmar a resposta.

##### `diagonal`

O entendimento de diagonais é facilitado trabalhando com arrays 2D.

Por isso, primeiro obtenha com indexação uma view do array correspondente ao primeiro dia.

In [ ]:
array_2D = ...

In [ ]:
array_2D

array([[51.037, 52.465, 50.991, 46.091],
       [52.716, 51.339, 48.389, 51.743],
       [51.094, 50.882, 50.085, 51.64 ],
       [   nan, 49.511, 48.554, 51.797],
       [50.119, 49.123, 47.654, 49.228]])

In [ ]:
array_2D.shape

(5, 4)

Agora, recupere e exiba a diagonal deste array.

In [ ]:
...

array([51.037, 51.339, 50.085, 51.797])

👆 Não é difícil encontrar visualmente esta diagonal em `array_2D`.

Observe que, como `array_2D` é **retangular** (como demonstra seu `shape`), nenhum valor da última linha é retornado na diagonal, pois ele tem mais linhas que colunas.